# ===========================
# Backend - Python / Django
# ===========================

# Virtual environment
.venv/

# Compiled Python files
*.pyc
__pycache__/

# Runtime data
docker-volumes/
backend/media/
minio/
*.m3u8

# Database
db.sqlite3

# Sensitive files
*.pem
*.key

# ===========================
# Frontend - Node / React
# ===========================

## Node modules
node_modules/

## Build output
dist/
build/
static/bundles/

# ===========================
# Logs & Runtime
# ===========================

# Logs
*.log





