.alarmlogs-toolbar {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 0.5rem;
}

.alarmlogs-form-field {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.alarmlogs-form-field.p-multiselect,
.alarmlogs-form-field .p-calendar {
  margin-top: 0;
}

.alarm-details-dialog {
  width: 40rem;
  display: flex;
  gap: 1rem;
  align-items: stretch;
  justify-content: space-between;
}

.alarm-details-right-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  gap: 0.5rem;
}

.alarm-details-left-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  overflow: hidden;
}

.alarm-details-left-content img {
  height: 80%;
  width: auto;
  object-fit: contain;
}
