.p-column-header-content {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
}

.p-datatable th,
.p-datatable td {
  border: 1px solid #cccccc !important;
  vertical-align: middle !important;
}

.p-datatable-thead > tr > th {
  background-color: #f6f6f6 !important;
  font-weight: bold !important;
}

.p-datatable-table {
  table-layout: fixed !important;
  width: 100% !important;
}

.p-paginator {
  background-color: #f6f6f6 !important;
  border: 1px solid #cccccc !important;
}

.p-paginator-pages .p-paginator-page.p-highlight {
  background-color: #cccccc !important;
  color: var(--main-color) !important;
}

.data-column {
  justify-content: center !important;
  white-space: normal !important;
  word-break: break-word !important;
  text-align: center !important;
}

.action-btn-column {
  width: 15rem !important;
  min-width: 10rem !important;
  text-align: center !important;
}

.action-btn {
  width: 1.5rem !important;
  height: 1.5rem !important;
  border: none !important;
  color: #808080 !important;
  background: none !important;
}

.action-btn:hover {
  color: #000000 !important;
}

.action-btn .pi {
  font-size: 1rem !important;
}

.image-column {
  width: 10rem !important;
  min-width: 5rem !important;
  max-width: 10rem !important;
  text-align: center !important;
  padding: 0.3rem !important;
}

.table-image .p-image-preview-container > img {
  height: 10vh !important;
  width: auto !important;
}

.p-image-mask {
  --maskbg: rgba(0, 0, 0, 0.5) !important;
}

.p-image-preview {
  max-height: 60vh !important;
}
