.container-layout {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  margin: 1rem 1rem 1rem 1rem;
  overflow: hidden;
}

.toolbar-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.toolbar-left {
  max-width: 60rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.edit-user-dialog {
  width: 40rem;
  display: flex;
  gap: 1rem;
  align-items: stretch;
  justify-content: space-between;
}

.right-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  gap: 0.5rem;
}

.left-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  overflow: hidden;
}

.left-content img {
  height: 80%;
  width: auto;
  object-fit: contain;
}
