.toolbar-right-content, .p-toolbar-group-right {
  align-items: end;
}

.account-dialog {
  width: 50rem;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.account-dialog-left-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  gap: 0.5rem;
}

.account-dialog-right-content {
  display: flex;
  justify-content: end;
}

.account-dialog-right-img {
  width: 100%;
}

.account-dialog-right-img img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
