.facial-reco-oolbar-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.facial-reco-toolbar-left {
  max-width: 50rem;
  display: flex;
  align-items: center;
  justify-self: start;
  gap: 0.5rem;
}
