:root {
  --background-color: #4c585b;
  --main-color: #4c585b;
  --secondary-color: #a5bfcc;
  --func-btn-color: #f4edd3;
}

html,
#app {
  background: var(--background-color);
}

.func-btn {
  background-color: var(--func-btn-color) !important;
  color: #4c585b !important;
  border: 2px solid #e8e2c9 !important;
  font-weight: 700 !important;
  border-radius: 5px !important;
}

.func-btn:hover,
.cancel-btn:hover,
.delete-btn:hover {
  filter: brightness(0.9);
  transition: filter 0.2s ease;
}

.func-btn:active,
.cancel-btn:active,
.delete-btn:active {
  filter: brightness(0.8);
}

.select-button .p-highlight {
  background-color: #7e99a3 !important;
  border: 1px solid #4c585b !important;
}

.select-button .p-button:focus {
  background-color: #7e99a3 !important;
  box-shadow: 0 0 0 0 !important;
}

.select-button .p-button {
  flex: 1 1 0 !important;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
}

.p-multiselect {
  box-shadow: none !important;
  transition:
    box-shadow 0.3s ease,
    border-color 0.3s ease;
}

.p-multiselect:focus {
  box-shadow: 0 0 0 3px rgba(123, 158, 163, 0.5) !important;
  outline: none !important;
}

.p-multiselect:hover {
  box-shadow: 0 0 0 3px rgba(123, 158, 163, 0.2) !important;
}

.p-multiselect:not(.p-disabled).p-focus,
.p-multiselect:hover,
.p-multiselect:focus {
  border-color: #7e99a3 !important;
}

.cancel-btn {
  background-color: #fff !important;
  color: #808080 !important;
  border: 2px solid #bfbfbf !important;
  font-weight: 700 !important;
  border-radius: 5px !important;
}

.delete-btn {
  background-color: #f0b4b4 !important;
  color: #c92424 !important;
  border: 2px solid #cc6b6b !important;
  font-weight: 700 !important;
  border-radius: 5px !important;
}

.container-layout {
  background-color: #ffffff !important;
  display: flex !important;
  padding: 0 !important;
  flex-direction: column !important;
  justify-content: center !important;
  margin: 1rem 1rem 1rem 1rem !important;
  overflow: visible !important;
}

.general-page-layout {
  padding: 0.5rem !important;
}

.tabview-layout .p-tabview-nav {
  margin: 0;
  padding-left: 1rem;
}

.tabview-layout i,
.tabview-layout span,
.tabview-layout span {
  vertical-align: middle;
  margin: 0.2rem;
}

.tabview-layout .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  border-color: #7e99a3;
  color: #ffffff;
}

.tabview-layout .p-tabview .p-tabview-panels {
  padding: 0.5rem;
}

.p-dropdown-items {
  padding-left: 0 !important;
}

.toolbar-layout {
  border: none !important;
  background: transparent !important;
}

.inputgroup-btn {
  border: none !important;
}

.p-inputtext:focus,
.p-inputtext:hover,
i.p-inputtext:active {
  border-color: #7e99a3;
  box-shadow: 0 0 3px #7e99a3;
}

.p-multiselect-panel .p-multiselect-items {
  padding: 0 !important;
}

.p-panelmenu-content ol,
ul {
  padding: 0 !important;
}
