.p-breadcrumb {
  display: flex !important;
  background: #7e99a3 !important;
  border-style: none !important;
  border-radius: 0 !important;
  align-items: center !important;
  padding: 0 !important;
  font-size: 1rem !important;
}

.p-breadcrumb ol {
  margin-bottom: 0rem !important;
  color: var(--main-color) !important;
  padding-left: 0 !important;
}

.p-breadcrumb .p-breadcrumb-chevron,
.p-breadcrumb .pi,
.p-breadcrumb .p-menuitem-text {
  color: var(--main-color) !important;
}

.header-container {
  width: 100% !important;
  max-width: 100% !important;
  align-items: center !important;
  margin: 0 0 0 0 !important;
}

.left-layout {
  text-align: left !important;
  margin-left: 0 !important;
}

.right-layout {
  text-align: right !important;
  margin-right: 0 !important;
}

.user-icon {
  color: var(--main-color) !important;
  font-size: 1.7rem !important;
}

.user-icon:hover {
  color: var(--main-color) !important;
  background-color: #7e99a3 !important;
}

.user-icon:active {
  color: #2d2d2d !important;
  background-color: #7e99a3 !important;
}

.user_menu_btn .p-avatar {
  width: 2.2rem !important;
  height: 2.2rem !important;
}

.avatar-wrapper {
  display: flex !important;
  align-items: center !important;
  justify-content: end !important;
}

.language-option {
  display: flex !important;
  align-items: center !important;
  font-size: 1rem !important
}

.country-flag {
  margin-right: 0.3rem !important;
  font-size: 1.1rem !important;
}

.language-dropdown.p-dropdown {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  text-align: left !important;
}

.language-dropdown.p-dropdown .p-dropdown-panel {
  border: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
}

.language-dropdown.p-dropdown .p-dropdown-item {
  border-radius: 0 !important;
}

.language-dropdown.p-dropdown .p-dropdown-trigger {
  display: none !important;
}
