.toolbar-layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.toolbar-left {
    max-width: 60rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
