.activity-logs-toolbar {
  display: flex;
  justify-content: flex-start;
  align-items: end;
  background: transparent;
  border: none;
}

.activity-logs-toolbar-left {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
